body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
}

/* Para alinear el icono del boton drop down hacia la derecha */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* El contenido de un drop down está oculto por defecto */
.dropdown-container {
  display: none;
  background-color: #7BE371;
}

.dropdown-container a {
  color: white;
}

.dropdown-container a:hover:not(.active) {
  background-color: #4CAF50;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .contenedor-sidebar {
    margin-bottom: .5rem!important;
    padding-left: .5rem!important;
    padding-right: .5rem!important;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  .dropdown-container a {
    background-color: #7BE371;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
