* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-size: 14px;
  line-height: 1.42857143;
  color: rgb(51, 51, 51);
  font-family: robotolight; margin:0;
}
/*.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}*/
.col-lg-3, .col-lg-9, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
}
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
.navbar {
  border: 1px solid transparent;
}
.navbar-nav {
	padding-left: 0;
	margin:8px -15px;
}
.navbar-nav > li {
	display: block;
}
.navbar-nav > li > a {
	position: relative;
  display: block;
  padding: 10px 15px 10px;
  line-height: 20px;
  color: #777;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.container-custom:before,
.container-custom:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-collapse:before,
.navbar-collapse:after{
  display: table;
  content: " ";
}
.container-custom:after,
.container-fluid:after,
.row:after,
.nav:after,
.navbar:after,
.navbar-collapse:after {
  clear: both;
}

#logoheader {
	border-bottom:solid 5px rgb(195, 195, 195); background-color: #f8f8f8;
}
#logoheader img {
	margin-top: 1px;
}
#header .navbar, header.navbar {
    margin-bottom: 0px;
}
.sistemah1 h1{color:#5A6523; font-family: 'robotomedium'; font-size:30px;}
.bordetop{border-bottom: #879E0F 5px solid;}
.leyendatop{background-color:#F8F8F8; color:#5A6523; border:#e7e7e7 1px solid;min-height: 33px;}
.leyendainf{border:#e7e7e7 1px solid;}
.encabezado {
	padding-right: 0px; padding-left: 0px;
}
.lista li::before{color:#008B84;content:'\e072' ; font-family:'Glyphicons Halflings'; margin-right: 2px; font-size: 7px; vertical-align: middle center;}
.lista a{color:#333333;}
#detallefooter {
	background-color: rgb(198, 198, 198);
}
#detallefooter h4 {
	margin-top: 14px;
}
#identidad {
	background-color:rgb(237, 237, 237);
}
footer{
	background-color: rgb(237, 237, 237);
}
footer ul.lista {
	 padding-left: 0px;
	 list-style: none;font-size: 11px;
}
.footermas{
	margin-top:-8px
}
.footermas a {
	color: rgb(123, 127, 130); font-size: 22px;
	display:inline-block; font-family:FontAwesome;
}
.footermas a:before {
	content: "\f196";
}
#logofooter {
	text-align: center; margin-top: 20px;
}
#footerbottom{padding-top:10px; padding-bottom:5px; background-color:#494e54; color:#ffffff; text-align:center }

a{color:#07d;text-decoration:none;cursor:pointer}
img{max-width:100%;height:auto;box-sizing:border-box;border:0;vertical-align:middle}
ul{margin:0 0 27px 0}
h1,h4{margin:0 0 15px 0;font-family:"robotoregular";font-weight:400;color:#444;text-transform:none}
hr{box-sizing:content-box;height:0;margin:15px 0;border:0;border-top:1px solid #ddd}
@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-collapse{max-height: 200px;}
}
@media (min-width: 768px) {
	.container {width: 750px;}
	.navbar-collapse {border-top: 0;}
	.container-fluid > .navbar-collapse {margin-right: 0; margin-left: 0;}
	.navbar-nav {float: left; margin: 0;}
	.navbar-nav > li {float: left;}
	.navbar-nav > li > a {padding-top: 15px; padding-bottom: 15px;}
}
@media (min-width: 992px) {
	.container {width: 970px;}
}
@media (min-width: 1200px) {
	.container {width: 1170px;}
	.col-lg-12 {width: 100%;}
	.col-lg-9 {width: 75%;}
	.col-lg-3 {width: 25%;}
}
@media all and (max-width:768px){
	.sistemah1{text-align: center;}
	footer h4 {text-align: center;}
}
@media all and (min-width:992px){
	.sistemah1 h1{ font-size:24px;line-height:38px;}
	.navbar-nav li a {padding-top: 16px;}
}
@media all and (min-width:1200px){
	.sistemah1 h1{font-size:30px; line-height:41px;}
	.sistemah1{padding-top: 9px;}
	.leyendatop{ font-size: 22px; }
	header.navbar{font-size: 16px; color:#485700;}
	.navbar-nav li a {padding-top: 23px; padding-bottom: 22px;}
}
/*Estilos del buscador de Google*/
		/*Estilos del buscador de Google*/
		.gsc-search-button button{
			background-color:#4F8383;
			border-color:#4F8383;
		}
		.gsc-search-button button:hover{
			background-color:#749D9D;

		}
		.gsc-search-button svg{
			width:25px !important;
			height:25px !important;
		}

		.gsc-input{
			padding-right:0px !important;

		}
		.gsc-input-box {
			height:40px !important;

		}
		/**.gsib_a{
			height:35px;
			border:solid thin #4F8383 !important;
		}para colorear el recuadro**/
		.gsib_a input{
			background:none !important;
			text-indent:2px !important;
		}
		input.gsc-search-button{
			background-color:#4F8383 !important;
			}
/*********/


			img {
  vertical-align: middle;
  border: 0;
}

.principales {
    float: left;

    text-align: center;

}
.principales  h1{font-size:20px; color:#000000;}
.principales a, .principales a:hover{color:#000000; text-decoration: none;}

p {
    text-align: justify;
}
.principales h1 {
    font-size: 20px;
    color: #000000;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-3, .col-lg-3,.col-xs-12, .col-sm-12, .col-md-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
 .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }

}
@media (min-width: 992px) {
   .col-md-3, .col-md-9 {
    float: left;
  }
  .col-md-9 {
    width: 75%;
  }

  .col-md-3 {
    width: 25%;
  }

}
@media (min-width: 1200px) {
  .col-lg-3 {
    float: left;
  }
  .col-lg-3 {
    width: 25%;
  }
}
#cuadro1{background-color:#008080; height:180px; font-size: 13px; color:#ffffff; text-align: center;}
#cuadro3{background-color:#013A74; height:180px; font-size: 13px; color:#ffffff;text-align: center;}
#cuadro6{background-color:#bb6200; height:180px; font-size: 13px; color:#ffffff;text-align: center;}
#cuadro8{background-color:#7a0156 ; height:180px; font-size: 13px; color:#ffffff;text-align: center;}

#cuadro2{background-color:#D2C631; padding-left: 0px; padding-right: 0px; height:180px;}
#cuadro4{background-color:#D2C631; padding-left: 0px; padding-right: 0px; height:180px;}
#cuadro5{background-color:#D2C631; padding-left: 0px; padding-right: 0px; height:180px;}
#cuadro7{background-color:#D2C631; padding-left: 0px; padding-right: 0px; height:180px;}
#cuadrio a{color:#ffffff}
#cuadro1 h1, #cuadro3 h1,#cuadro6 h1,#cuadro8 h1{font-size: 20px; color:#ffffff; text-align: center;}
#cuadro1 a,#cuadro3 a,#cuadro6 a,#cuadro8 a{color:#ffffff;}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

<!--migas-->
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb {
    padding: 8px 15px !important;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
}
#breadcrumb .breadcrumb{background-color: #ffffff;}
.breadcrumb{color:#4F8383;font-size:14px;}
.breadcrumb a, .breadcrumb a:hover{color:#4F8383; font-size:14px;font-family:"robotoregular";}
.breadcrumb a.active,.breadcrumb a.active:hover{color:#4F8383;}
<!---->
/*Estilos Menu*/
#right_a .block-menu h2{font-size:12pt; background-color:#4F8383;color:#ffffff; margin-bottom:0px;padding-top:11px; padding-bottom:11px; padding-left:9px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
#right_a ul.menu li/*,#right_a ul.menu li ul.menu li*/{background-color:#e4edec; font-size:12pt;margin: 0 1px 0 -2.5em;padding-bottom:9px; margin-bottom:1px; font-family:"robotoregular";}

/*Menu esquinas redondeadas*/
ul.menu li.last{
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
.panel-heading{padding:0px; padding-left:10px; padding-top: 10px; padding-bottom: 10px;}
/*Estilos Menu*/

li {
    text-align: justify;
}
.menu .leaf, .menu .collapsed{
  background:url("../../../../../20190722154643im_/http_/dgsei.edomex.gob.mx/sites/all/themes/seitheme/imagenes/iconos/simple-nav-arrow.png") no-repeat scroll 0 11px rgba(0, 0, 0, 0);
    border-bottom: 1px solid #dadada;
    color: #333333;
    display: block;
    list-style-type: none;
    margin-bottom: 2px;
    padding: 2px 0 2px 19px;
    text-decoration: none;
    text-indent: 0;
margin: 0 0 0 -2.7em;
}
.menu .leaf a, .menu .collapsed a{  color: #868686; font-size: 12px;}
/*MENU SECCIONES ACTIVAS*/
.menu .activesection{
	background-color:rgba(79, 131, 131, 0.3) !important;
}
.menu .activesection a{
	color:#666666 !important;
}
.menu .activesection li{
	background-color:rgba(79, 131, 131, 0) !important;
	border-bottom:solid 1px #FFFFFF !important;
}
.menu .active > a{
	color:#4F8383 !important;
}
.menu .active > a::before{
	content: '\e072';
    font-family: 'Glyphicons Halflings';
    margin-right: 2px;
    font-size:80%;
	margin-left: -11.5px;
}
/**/
/*Estilo Titulo*/
#main .content {line-height:1.4; width: 100%;}
/*Tecnotips*/
#main .content .field-content .views-row{color:#707f7d; font-size:11px; font-family:"robotoregular";}
/*Estilo Texto*/
#main .content .field-item{color:#707f7d; font-size:14px; font-family:"robotoregular";}
#main .content .field-item .contexto{color:#707f7d; font-size:14px;font-family:"robotoregular";}
#main h2 {
    color: #e4894e;
    font-size: 22pt;
    font-family: "robotoregular";
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}
#main h2 {
    color: #e4894e;
    font-size: 22pt;
    font-family: "robotoregular";
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
footer h4 {
    color: rgb(51, 51, 51);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px 0;
    font-family: "robotoregular";
    font-weight: 400;
    color: #444;
    text-transform: none;
}
.uk-h4, h4 {
    font-size: 16px;
    line-height: 22px;
}
.subti_parrafo{
	font-size:16px; font-weight:bold;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
h3, .h3 {
    font-size: 24px;
	color: #707f7d;
}
.estadistica{
 background-repeat:no-repeat; background-image:url(../../../../../20190722154648im_/http_/salud.edomex.gob.mx/salud/imagenes/micrositios/estadistica.jpg);
 width:100%; min-height:85px; vertical-align:bottom; padding-top:15px; margin-top:15px}

 .cobiem{
 background-repeat:no-repeat; background-image:url(../../../../../20190722154652im_/http_/salud.edomex.gob.mx/salud/imagenes/micrositios/cobiem.jpg);
 width:100%; min-height:85px; vertical-align:bottom; padding-top:15px; margin-top:15px}

.consejosalud{
 background-repeat:no-repeat; background-image:url(../../../../../20190722154644im_/http_/salud.edomex.gob.mx/salud/imagenes/micrositios/consejosalud.jpg);
 width:100%; min-height:85px; vertical-align:bottom; padding-top:15px; margin-top:15px}

.voluntada{
 background-repeat:no-repeat; background-image:url(../../../../../20190722154654im_/http_/salud.edomex.gob.mx/salud/imagenes/micrositios/voluntad_anticiapada.jpg);
 width:100%; min-height:85px; vertical-align:bottom; padding-top:15px; margin-top:15px}

 .lactanciamaterna{
 background-repeat:no-repeat; background-image:url(../../../../../20190722154632im_/http_/salud.edomex.gob.mx/salud/imagenes/micrositios/lactanciamaterna.jpg);
 width:100%; min-height:85px; vertical-align:bottom; padding-top:15px; margin-top:15px}

.imd{
 background-repeat:no-repeat; background-image:url(../../../../../20190722154640im_/http_/salud.edomex.gob.mx/salud/imagenes/micrositios/imd.jpg);
 width:100%; min-height:85px; vertical-align:bottom; padding-top:15px; margin-top:15px}

 .externo:after{
	font-family: 'FontAwesome';
    content: "\f08e";
    color: #337ab7;
    padding-left: 10px;
    min-height: 48px;
	}
.rectangulo{
width: 50%;

background:#363;
font-weight:bold;
color:#FFFFFF;
} .subti_parrafo{
	font-size:16px; font-weight:bold;
}
.subti_red{
	font-size:16px; font-weight:bold;
	color: #D21145;
}
.subti_verde{
	font-size:16px; font-weight:bold;
	color: #488271;
}
.subti_sol{
	font-size:16px; font-weight:bold;
	color: #886A08;
}

/*[v-cloak] {
  display: none;
}*/

.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

[v-cloak] > * {
  display:none;
}
.preloader {
  width: 70px;
  height: 70px;
  border: 10px solid #eee;
  border-top: 10px solid #666;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
     FILE ARCHIVED ON 15:46:16 Jul 22, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:29:49 Apr 24, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 85.951
  exclusion.robots: 0.208
  CDXLines.iter: 15.983 (3)
  esindex: 0.011
  RedisCDXSource: 2.69
  LoadShardBlock: 64.183 (3)
  exclusion.robots.policy: 0.198
  PetaboxLoader3.datanode: 93.822 (4)
  PetaboxLoader3.resolve: 74.923 (2)
  load_resource: 127.961
*/
